{% extends 'DarazTemplates/base.html' %}
{% load static %}
{% block content %}
    <!--banner-->
<div class="banner-top">
	<div class="container">
		<h3 >About Us</h3>
		<h4><a href="{% url 'index' %}">Home</a><label>/</label>About</h4>
		<div class="clearfix"> </div>
	</div>
</div>

<!-- faqs -->
	<div class="about-w3 ">

			
			<!--about-->
			<div class="container">
		<div  class="about">
	<div class="spec ">
				<h3>About Me</h3>
					<div class="ser-t">
						<b></b>
						<span><i></i></span>
						<b class="line"></b>
					</div>
			</div>
			
			<div class="col-md-4 about-right">
			<img class="img-responsive" src="{% static 'DarazData/images/mypic.jpg' %}" alt="">
			</div>
			<div class="col-md-4 about-left">
				<p>Sir Tayyab Gul is one of my close friend as well as my mentor and project supervisor. he guide me through the project he provide me the idea and i implement the idea it is not this simple he has helped in this project on daily basis even he has give the opportunity to work with him in his office may allah bless him.</p><p> the project has take more then one year both project defense as the project proposal.  </p>
			</div>
			<div class="col-md-4 about-right">
			<img class="img-responsive" src="{% static 'DarazData/images/sirpic.jpg' %}" alt="">
			</div>
			
			<div class="clearfix"> </div>
		</div>
	</div>
	<!--//about-->
	
	<!--work-experience-->
	<div  class="work">
		<div class="container">
			<div class="spec spec-w3ls">
				<h3>Our Journey</h3>
					<div class="ser-t">
						<b></b>
						<span><i></i></span>
						<b class="line"></b>
					</div>
			</div>
			<div class="work-info"> 
				<div class="col-md-6 work-left"> 
					<div class=" work-w3 "> 
						<h5> Fall Semester 2018</h5>
						<p>I was registered in Project Proposal in 2018 Fall i have decided to have one group member who is my friend in university. we start reasearch on the project and find a software analytics project and also declare our supervisor But suprisingly my friend Drop his project proposal at the time three months of project was gone. </p>
					</div>
					<label></label>
				</div>
				<div class="col-md-6 work-right"> 
					<div class=" work-w31"> 
						<h5> November 2018</h5>
						<p>At that moment i didn't understand what to do then one of my legend come to the way sir tayyab he asked how can i help you i told all the story and he guide me how to go now this was the turning point. he describe me the idea that you need to scrap data anlyze data process data clean data and upload data to the webiste with Detection as well as Predication.</p>
					</div>
					<label></label>
				</div>
				<div class="clearfix"> </div>
				<span> 2018</span>
			</div>
			<div class="work-info"> 
				<div class="col-md-6 work-left"> 
					<div class=" work-w3 "> 
						<h5> February 2019</h5>
						<p>I start work on the project. I with my friends Mohammad Usman Paracha, Syed Fahad Shamim, Farhan Aslam and other friends whom names  i can't mention here to work on project. we were working at one place at project proposal my friends support me too much in project proposal. My Project name was Decided By Fahad Shamim to Be "DEKH KE LO" Which means while buying online some thing research First. I am very thankful to one of my friend who sincerely helped me in my project prototype.</p>
					</div>
					<label></label>
				</div>
				<div class="col-md-6 work-right"> 
					<div class=" work-w31"> 
						<h5>Summer 2019</h5>
						<p>I Completed my Project Proposal Presentation in April 2019 and Start working on project defense which is the implementation part of project proposal. at summer 2019 semester i was registed for project defense at the end of summer semster i have completed all of my courses as well as Data Scarping part of the project. </p>
					</div>
					<label></label>
				</div>
				<div class="clearfix"> </div>
				<span> 2019</span>
			</div>
			<div class="work-info"> 
				<div class="col-md-6 work-left"> 
					<div class=" work-w3 "> 
						<h5> September 2019</h5>
						<p>After having too much work on data scraping since april while i started my project defence i have finally prepare algorithm for daily data scraping. the time the scarping get in initial for 5000 product was one hour and it is now successfully reduced to 12 mins. now i was having data it was time to prepare front end and backend for the website to show products and thier details. </p>
				    </div>
					<label></label>
				</div>
				<div class="col-md-6 work-right"> 
					<div class=" work-w31"> 
						<h5> November 2019</h5>
						<p>I have almost completed my project the front end is ready the backend data is well prepared. now the only part i am working right now is to integrate machine learning part for prediction of sale. the deployment of website is almost done. i am finally in final phase of project now and hopefully i have be having my FYP presentation in a week inshallah. i am thankful for every body who has helped me in project i can't mention their name but they have sincerly helped me whoever they was i am very thankful to them whether they are my friends, teacher, mentors and other people. i was alone in FYP project what i get the best experience is that everybody can do everything alone but to some extent BUT the real power is while you have this potential in a group so my advise always work in group i know there are many problems in groups but the benefit's of working in good group will never reach you to that Problems. Thank YOu </p>
					</div>
				</div>
			</div>
			
		</div>
	</div>
	<!--//work-experience-->


	</div>
	{% endblock %}